.level-page.primaria {
	.site-header-primaria {
		background-image: url('/images/site-header/primaria.webp');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		padding: 150px 0;

		@supports (background-image: image-set(url('') type('image/avif'))) {
			background-image: image-set(
				url('/images/site-header/primaria.avif') type('image/avif'),
				url('/images/site-header/primaria.webp') type('image/webp'),
				url('/images/site-header/primaria.jpg') type('image/jpeg')
			);
		}

		.section-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #73a140;
			opacity: 0.7;
		}

		.container {
			position: relative;
			z-index: 1;
		}

		h1 {
			font-size: 3rem;
			font-weight: 700;
		}

		.breadcrumb {
			background: transparent;
			margin-bottom: 0;

			.breadcrumb-item + .breadcrumb-item::before {
				color: #fff;
			}

			a {
				color: #fff;
				text-decoration: none;
				background: var(--primary-color);
				padding: 5px 15px;
				border-radius: 20px;

				&:hover {
					text-decoration: underline;
				}
			}

			.active {
				color: rgba(255, 255, 255, 0.9);
			}
		}
	}

	.contador {
		padding: 80px 0;

		.row {
			justify-content: center;
		}

		.custom-text-block-3 {
			background: #ffca2a;
			padding: 80px 60px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 0;

			h2 {
				font-weight: 700;
				color: var(--dark-color);
			}

			p {
				font-size: 1.1rem;
				line-height: 1.8;
				color: var(--dark-color);
			}
		}

		.custom-text-block-2 {
			background: #5ac3f0;
			padding: 80px 60px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 0;

			h2 {
				font-weight: 700;
				color: var(--white-color);
			}

			p {
				font-size: 1.1rem;
				line-height: 1.8;
				color: var(--white-color);
			}
		}

		.video-thumb {
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				min-height: 350px;
			}
		}
	}

	.cta-section {
		background-image: url('/images/team/millennial-group-young-businesspeople.webp');
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		position: relative;
		padding-top: 150px;
		padding-bottom: 75px;

		@supports (background-image: image-set(url('') type('image/avif'))) {
			background-image: image-set(
				url('/images/team/millennial-group-young-businesspeople.avif') type('image/avif'),
				url('/images/team/millennial-group-young-businesspeople.webp') type('image/webp'),
				url('/images/team/millennial-group-young-businesspeople.jpg') type('image/jpeg')
			);
		}

		.section-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--secondary-color);
			opacity: 0.7;
		}

		.container {
			position: relative;
			z-index: 1;
		}

		h2 {
			color: var(--white-color);
		}

		p {
			color: var(--white-color);
		}

		.custom-btn {
			background: var(--white-color);
			color: var(--secondary-color);

			&:hover {
				background: #73a140;
				color: var(--white-color);
			}
		}

		.custom-link {
			color: var(--white-color);

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.level-page.primaria {
		.site-header-primaria {
			padding: 80px 0;

			h1 {
				font-size: 2rem;
			}
		}

		.contador {
			.custom-text-block-3,
			.custom-text-block-2 {
				padding: 40px 25px;
			}
		}

		.cta-section {
			padding: 60px 0;
		}
	}
}
