.faq-page {
	.site-header {
		background-image: url('/images/site-header/close-up-young-business-team-working.webp');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		padding: 150px 0;

		@supports (background-image: image-set(url('') type('image/avif'))) {
			background-image: image-set(
				url('/images/site-header/close-up-young-business-team-working.avif')
					type('image/avif'),
				url('/images/site-header/close-up-young-business-team-working.webp')
					type('image/webp'),
				url('/images/site-header/close-up-young-business-team-working.jpg')
					type('image/jpeg')
			);
		}

		.section-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: var(--primary-color);
			opacity: 0.85;
		}

		.container {
			position: relative;
			z-index: 1;
		}

		h1 {
			font-size: 3rem;
			font-weight: 700;
		}

		nav[aria-label='breadcrumb'] {
			background: var(--white-color);
			border-radius: var(--border-radius-large);
			display: inline-block;
			padding: 7px 16px 3px 16px;
		}

		.breadcrumb {
			background: transparent;
			margin-bottom: 0;

			a {
				color: var(--primary-color);
				text-decoration: none;

				&:hover {
					color: var(--secondary-color);
				}
			}

			.active {
				color: var(--p-color);
			}
		}
	}

	.about-section {
		padding: 80px 0;

		&:nth-child(odd) {
			background: #f8f9fa;
		}

		.about-info-text {
			h2 {
				color: var(--primary-color);
				font-weight: 700;
				margin-bottom: 15px;
			}

			h4 {
				color: var(--secondary-color);
				font-size: 1.1rem;
			}

			p {
				color: #666;
				line-height: 1.8;
			}
		}

		.about-image-wrap {
			position: relative;

			.about-image {
				width: 100%;
				border-radius: 20px;
			}

			.about-info {
				position: absolute;
				bottom: 20px;
				left: 20px;
				background: var(--primary-color);
				padding: 15px 25px;
				border-radius: 10px;

				h4 {
					font-size: 1.5rem;
					font-weight: 700;
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.faq-page {
		.site-header {
			padding: 80px 0;

			h1 {
				font-size: 2rem;
			}
		}

		.about-section {
			padding: 50px 0;
		}
	}
}
