<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="images/logo.png" class="img-fluid logo-image" alt="Educa.com.pe Logo">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav align-items-center ms-lg-5">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            Inicio
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/nosotros"
            routerLinkActive="active">
            Nosotros
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarLightDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Niveles
          </a>

          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="/niveles/inicial">Inicial</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/niveles/primaria">Primaria</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/niveles/secundaria">Secundaria</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contacto"
            routerLinkActive="active">
            Contacto
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/preguntas-frecuentes"
            routerLinkActive="active">
            Preguntas Frecuentes
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
