<!-- #region Template -->
<!-- * Central toast host for app-wide notifications. -->
<edu-toast position="top-right" [life]="5000">
	<ng-template let-message pTemplate="message">
		<div class="p-toast-message-text">
			<div class="p-toast-summary">{{ message.summary }}</div>
			<div class="p-toast-detail">{{ message.detail }}</div>
			@if (message.data?.action) {
				<edu-button
					size="small"
					[text]="true"
					[label]="message.data.action.label"
					style="margin-top: 0.5rem"
					(click)="onAction(message)"
				/>
			}
		</div>
	</ng-template>
</edu-toast>
<!-- #endregion -->
