<p-card class="curso-card" [class.curso-card--outlier]="hasOutlier()">
	<ng-template pTemplate="header">
		<div class="curso-card__header">
			<div>
				<h3>{{ curso().cursoNombre }}</h3>
				<span class="text-color-secondary text-sm">{{ curso().salonDescripcion }}</span>
			</div>
			@if (hasOutlier()) {
				<span class="curso-card__badge" title="Este curso se desvió de su línea base">
					<i class="pi pi-exclamation-triangle" aria-hidden="true"></i>
					Desvío detectado
				</span>
			}
		</div>
	</ng-template>
	<div class="chart-canvas-wrap">
		<canvas #rendimientoChart></canvas>
	</div>
</p-card>
