// #region BREADCRUMB COMPONENT

.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 0 1rem 0; // Reset user agent ol margins
	font-size: var(--copyright-font-size);
	list-style: none;
	background-color: transparent;
}

.breadcrumb-item {
	+ .breadcrumb-item {
		padding-left: 0.5rem;

		&::before {
			float: left;
			padding-right: 0.5rem;
			color: var(--p-color);
			content: '/';
		}
	}

	&.active {
		color: var(--p-color);
	}

	a {
		color: var(--primary-color);
		text-decoration: none;

		&:hover {
			color: var(--custom-btn-bg-color);
			text-decoration: underline;
		}
	}
}
// #endregion
