// =============================================================================
// PAGINATION COMPONENT
// =============================================================================

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 0;
}

.page-link {
  position: relative;
  display: block;
  border-color: var(--border-color);
  border-radius: var(--border-radius-large);
  color: var(--p-color);
  font-size: var(--copyright-font-size);
  text-decoration: none;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  padding: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover {
    background: var(--secondary-color);
    border-color: transparent;
    color: var(--white-color);
  }

  &:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(134, 215, 245, 0.25);
  }
}

.page-item {
  &.active .page-link {
    background: var(--secondary-color);
    border-color: transparent;
    color: var(--white-color);
  }

  &.disabled .page-link {
    color: var(--p-color);
    pointer-events: none;
    background-color: var(--white-color);
    border-color: var(--border-color);
    opacity: 0.5;
  }
}

// Responsive
@media screen and (max-width: 991px) {
  .page-link {
    font-size: 12px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 480px) {
  .page-link {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}
