// #region Styles
.evaluations-section {
	border: 1px solid #ddd;
	border-radius: 4px;

	&:not(.expanded) .eval-header {
		border-bottom: none;
	}
}

.eval-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	font-weight: 500;
	color: var(--intranet-default-text-color);
	cursor: pointer;
	border-bottom: 1px solid #ddd;

	i {
		font-size: 0.7rem;
		color: var(--intranet-soft-text-color);
	}
}

.eval-content {
	display: flex;
	padding: 1rem;
	gap: 1rem;
}

.eval-icon {
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;

	i {
		font-size: 1.5rem;
		color: var(--intranet-soft-text-color);
	}
}

.eval-list {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	span {
		font-size: 0.8rem;
		color: var(--intranet-default-text-color);
	}
}
// #endregion
