// #region Styles
.sidebar-links-section {
	margin-bottom: 1rem;

	p {
		margin: 0 0 0.25rem 0;
		font-size: 0.8rem;
		color: var(--intranet-default-text-color);

		&.link {
			color: var(--intranet-soft-text-color);
			text-decoration: underline;
			cursor: pointer;
			margin-left: 0.5rem;

			&:hover {
				color: var(--intranet-accent-color-blue);
			}
		}
	}
}
// #endregion
