<!-- #region Page Header -->
<div class="page-header">
	<h2><i class="pi pi-question-circle"></i> Ayuda</h2>
	<p>Preguntas frecuentes, solicitudes de soporte y reporte de salud de tu sede</p>
</div>
<!-- #endregion -->

<!-- #region Tabs -->
<edu-tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
	
		@for (tab of tabs; track tab.value) {
			<edu-tab [value]="tab.value">
				<i [class]="tab.icon + ' mr-2'"></i>
				{{ tab.label }}
			</edu-tab>
		}
	
</edu-tabs>
<!-- #endregion -->

<!-- #region Outlet -->
<router-outlet />
<!-- #endregion -->
