// #region Styles
.schedule-container {
	padding: 1.5rem;
	font-family: var(--intranet-font-family);
	background-color: var(--intranet-background-color);
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

@media screen and (max-width: 480px) {
	.schedule-container {
		padding: 1rem;
	}
}
// #endregion
