<div class="schedule-container">
	<!-- * Calendar drives which modal to open -->
	<app-schedule-calendar
		(openSchedule)="openScheduleModal()"
		(openSummary)="openSummaryModal()"
	/>

	<!-- * Schedule modal -->
	<app-schedule-modal
		[visible]="showScheduleModal"
		(visibleChange)="$event ? null : onScheduleModalClose()"
		(openDetails)="openDetailsModal($event)"
		(openGrades)="openGradesModal($event)"
	/>

	<!-- * Summary modal -->
	<app-summary-modal
		[visible]="showSummaryModal"
		(visibleChange)="$event ? null : onSummaryModalClose()"
		(openDetails)="openDetailsModal($event)"
		(openGrades)="openGradesModal($event)"
	/>

	<!-- * Course details modal -->
	<app-course-details-modal
		[visible]="showDetailsModal"
		(visibleChange)="$event ? null : onDetailsModalClose()"
		[courseName]="selectedCourse"
		(openSchedule)="openScheduleModal()"
		(openSummary)="openSummaryModal()"
		(openGrades)="openGradesModal($event)"
	/>

	<!-- * Grades modal -->
	<app-grades-modal
		[visible]="showGradesModal"
		(visibleChange)="$event ? null : onGradesModalClose()"
		[courseName]="selectedCourse"
	/>
</div>
