<div class="calendar-legend">
	<div class="legend-item">
		<span class="legend-dot today-dot"></span>
		<span>Hoy</span>
	</div>
	<div class="legend-item">
		<span class="legend-dot event-dot"></span>
		<span>Evento</span>
	</div>
	<div class="legend-item">
		<span class="legend-triangle-container">
			<span class="legend-triangle start"></span>
		</span>
		<span>Inicio período</span>
	</div>
	<div class="legend-item">
		<span class="legend-triangle-container">
			<span class="legend-triangle end"></span>
		</span>
		<span>Fin período</span>
	</div>
	<div class="legend-item">
		<span class="legend-dot holiday-dot"></span>
		<span>Feriado</span>
	</div>
</div>
