<!-- #region Template -->
<edu-tabs [value]="activeTab()" (valueChange)="onTabChange($any($event))">
	
		<edu-tab value="propia">
			<i class="pi pi-user tab-icon"></i>
			Mi asistencia
		</edu-tab>
		@if (hasSalones()) {
			<edu-tab value="estudiantes">
				<i class="pi pi-users tab-icon"></i>
				Mis estudiantes
			</edu-tab>
		}
	

	
		<!-- #region Tab Mi asistencia -->
		<edu-tabpanel value="propia">
			<app-attendance-profesor-propia />
		</edu-tabpanel>
		<!-- #endregion -->

		<!-- #region Tab Mis estudiantes (solo si tiene salones) -->
		@if (hasSalones()) {
			<edu-tabpanel value="estudiantes">
				<app-attendance-profesor-estudiantes />
			</edu-tabpanel>
		}
		<!-- #endregion -->
	
</edu-tabs>
<!-- #endregion -->
