<!-- #region Template -->
<p-tabs [value]="activeTab()" (valueChange)="onTabChange($any($event))">
	<p-tablist>
		<p-tab value="propia">
			<i class="pi pi-user tab-icon"></i>
			Mi asistencia
		</p-tab>
		@if (hasSalones()) {
			<p-tab value="estudiantes">
				<i class="pi pi-users tab-icon"></i>
				Mis estudiantes
			</p-tab>
		}
	</p-tablist>

	<p-tabpanels>
		<!-- #region Tab Mi asistencia -->
		<p-tabpanel value="propia">
			<app-attendance-profesor-propia />
		</p-tabpanel>
		<!-- #endregion -->

		<!-- #region Tab Mis estudiantes (solo si tiene salones) -->
		@if (hasSalones()) {
			<p-tabpanel value="estudiantes">
				<app-attendance-profesor-estudiantes />
			</p-tabpanel>
		}
		<!-- #endregion -->
	</p-tabpanels>
</p-tabs>
<!-- #endregion -->
