.intranet-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	z-index: -100;
	pointer-events: none;
	overflow: hidden;
}

.decoration-circle {
	position: absolute;
	border-radius: 50%;
	opacity: 0.15;
	filter: blur(2px);
	transform: translate(-50%, -50%);
}
