.input-group {
	display: flex;
	align-items: center;
	gap: 1rem;
	border-bottom: 1px solid #a0a0a0;
	padding: 1rem 0.5rem;
	margin: 0 auto 0.25rem auto;
	width: calc(100% - 5rem);

	i {
		color: #707070;
		font-size: 1.1rem;
	}

	.password-toggle {
		cursor: pointer;
		transition: color 0.2s ease;

		&:hover {
			color: var(--intranet-accent-color-blue);
		}
	}

	input {
		flex: 1;
		border: none;
		background: transparent;
		font-size: 1.1rem;
		color: var(--intranet-soft-text-color);
		outline: none;
		font-weight: 400;

		&::placeholder {
			color: var(--intranet-soft-text-color);
		}
	}

	:host ::ng-deep .p-inputtext {
		border: none !important;
		background: transparent !important;
		background-color: transparent !important;
		box-shadow: none !important;
		padding: 0;
		font-size: 1.1rem;
		color: var(--intranet-soft-text-color);

		&:focus,
		&:hover,
		&:active,
		&.p-filled {
			background: transparent !important;
			background-color: transparent !important;
			box-shadow: none !important;
			border: none !important;
		}
	}
}

input,
input:focus,
input:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	background: transparent !important;
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-text-fill-color: var(--intranet-soft-text-color) !important;
	transition: background-color 5000s ease-in-out 0s;
}

:host ::ng-deep {
	.p-inputtext,
	.p-component {
		background: transparent !important;
		background-color: transparent !important;
		box-shadow: none !important;
	}
}
