.lazy-content {
	position: relative;
	width: 100%;
}

.lazy-content__default-skeleton {
	width: 100%;
	height: 100%;
	min-height: inherit;
	background: var(--surface-100);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.pulse {
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent 0%, var(--surface-200) 50%, transparent 100%);
	animation: pulse 1.5s infinite;
	will-change: transform;
}

@keyframes pulse {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.lazy-content__empty {
	padding: 2rem;
	text-align: center;
	color: var(--text-color-secondary);
}
