<section class="contador-section">
  <div class="contador">
    <div class="row">
      <!-- Text Content -->
      <div class="col-lg-6 col-12">
        <div class="custom-text-block custom-border-radius-start">
          <h2 class="text-white mb-3">
            Comprometidos con la mejora de la educación en El Agustino
          </h2>

          <p class="text-white">
            Buscamos la mejora constante de la educación local con tecnología,
            innovación y un método de aprendizaje basado en la exploración.
          </p>

          <div class="d-flex mt-4">
            <div class="counter-thumb">
              <div class="d-flex">
                <span class="counter-number">{{ displayedCount }}</span>
              </div>
              <span class="counter-text">Estudiantes actuales</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Video/Image -->
      <div class="col-lg-6 col-12">
        <div class="video-thumb">
          <img
            src="images/team/people-working-as-team-company.jpg"
            class="about-image custom-border-radius-end img-fluid"
            alt="Equipo de trabajo">

          <div class="video-info">
            <a
              href="https://www.youtube.com/channel/UCIhisBQWBIFkU1qOV7FeFHg"
              target="_blank"
              class="youtube-icon bi-youtube">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
