// #region Styles
.login-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 2.5rem;
	padding-top: 0.5rem;

	h2 {
		color: var(--intranet-default-text-color);
		font-size: 1rem;
		font-weight: 600;
		margin: 0;
		margin-left: 2.4rem;
		margin-top: 3rem;
		letter-spacing: 1px;
	}
}

.login-logo {
	width: 250px;
	height: 89.06;
}

@media screen and (max-width: 576px) {
	.login-header {
		flex-direction: column-reverse;
		gap: 1.5rem;
		text-align: center;
		align-items: center;

		h2 {
			margin-top: 0;
			margin-left: 0;
		}
	}
}
// #endregion
