:host {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--intranet-font-family);
}

.intranet-header {
	background-color: var(--intranet-background-color);
	padding: 0 2rem;
	border-bottom: 1px solid #c0c0c0;
	overflow: visible;
}

.header-container {
	display: flex;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
	height: 60px;
	overflow: visible;
}

.desktop-header {
	padding: 0 1.75rem;
	justify-content: space-between;
}

.mobile-header {
	display: none;
	justify-content: space-between;
}

.logo-link {
	display: flex;
	align-items: center;
}

.logo {
	height: 40px;
	width: 120px;
}

.nav-links {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	overflow: visible;
}

.intranet-content {
	flex: 1;
	background-color: var(--intranet-background-color);
	padding: 2rem;
}

// Responsive
@media screen and (max-width: 768px) {
	.intranet-header {
		padding: 0 1rem;
	}

	.desktop-header {
		display: none;
	}

	.mobile-header {
		display: flex;
	}

	.logo {
		height: 35px;
		width: 105px;
	}

	.intranet-content {
		padding: 1rem;
	}
}
