:host {
	display: block;
	height: calc(100vh - 120px);
	height: calc(100dvh - 120px);
}

.page-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.75rem;
}

.tab-wrapper {
	flex: 1;
	min-height: 0;
	display: flex;
	flex-direction: column;
}

@media (max-width: 767px) {
	:host {
		height: calc(100vh - 100px);
		height: calc(100dvh - 100px);
	}

	.page-container {
		padding: 0.5rem;
	}
}
