:host {
	display: inline-flex;
	align-items: center;
}

:host ::ng-deep .view-toggle {
	.toggle-label {
		font-weight: 500;
	}
}

@media (max-width: 480px) {
	:host ::ng-deep .view-toggle .toggle-label {
		display: none;
	}
}
