<!-- #region Template -->
<nav class="submenu">
	<p-selectButton
		[options]="submenuOptions"
		[ngModel]="selectedSubMenu()"
		(ngModelChange)="setSubMenu($event)"
		optionLabel="label"
		optionValue="value"
		[allowEmpty]="false"
		styleClass="submenu-toggle"
	>
		<ng-template let-option pTemplate>
			<i [class]="option.icon" aria-hidden="true"></i>
			<span class="submenu-label">{{ option.label }}</span>
		</ng-template>
	</p-selectButton>
</nav>

@switch (selectedSubMenu()) {
	@case ('estudiantes') {
		<app-attendance-director-estudiantes />
	}
	@case ('profesores') {
		<app-attendance-director-profesores />
	}
}
<!-- #endregion -->
