// #region Styles
/*---------------------------------------
  JOB/COURSES SECTION
-----------------------------------------*/
.job-thumb {
	border-radius: var(--border-radius-small);
	margin-bottom: 25px;
	padding: 25px;
	transition: all 0.5s ease;
}

.job-thumb:hover,
.job-thumb:nth-of-type(even) {
	background: var(--white-color);
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.job-title-link {
	color: var(--dark-color);
}

.job-thumb p {
	font-size: 18px;
}

.job-thumb .badge {
	border: 0;
}

.job-image-wrap {
	border-radius: var(--border-radius-large);
	width: 80px;
	min-width: 80px;
	height: 80px;
}

.job-image {
	display: block;
	margin: auto;
	padding: 20px;
}

.job-body {
	flex: auto;
}

.job-location {
	min-width: 175px;
}

.job-location,
.job-date {
	margin-right: 20px;
}

.job-date {
	min-width: 155px;
}

.job-section-btn-wrap {
	margin-left: auto;
}

@media screen and (min-width: 1025px) {
	.job-featured-section .job-thumb {
		max-width: 1120px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (max-width: 991px) {
	.job-body p {
		font-size: var(--btn-font-size);
	}

	.job-location {
		min-width: 140px;
	}
}

@media screen and (max-width: 480px) {
	.job-date {
		margin-top: 5px;
	}
}

@media screen and (max-width: 600px) {
	.job-thumb {
		position: relative;
		padding-bottom: 60px;
		flex-direction: column;
		align-items: flex-start;
	}

	.job-image-wrap {
		width: 60px;
		min-width: 60px;
		height: 60px;
		margin-bottom: 12px;
	}

	.job-image {
		padding: 14px;
	}

	.job-body {
		margin-left: 0 !important;
		width: 100%;
	}

	.job-body > .mb-3 {
		width: 100%;
	}

	.job-location {
		min-width: auto;
	}

	.job-date {
		min-width: auto;
		margin-right: 10px;
	}

	.job-date + .d-flex {
		margin-left: auto;
	}

	.job-section-btn-wrap {
		position: absolute;
		right: 25px;
		bottom: 2rem;
		margin-left: 0;
	}
}
// #endregion
