<div class="login-overlay">
	<div class="login-modal">
		<app-login-header title="INICIAR SESIÓN" logoSrc="images/logo.png" />

		<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="on">
			<app-login-error-message [message]="errorMessage()" [show]="showError()" />

			<app-login-input>
				<i class="pi pi-id-card"></i>
				<input
					type="text"
					pInputText
					placeholder="DNI"
					formControlName="dni"
					autocomplete="username"
					[attr.disabled]="isDisabled ? '' : null"
					maxlength="8"
					pattern="[0-9]*"
				/>
			</app-login-input>
			<app-form-error [control]="loginForm.controls.dni" />

			<app-login-input>
				<i
					class="pi password-toggle"
					[class.pi-lock]="!showPassword()"
					[class.pi-lock-open]="showPassword()"
					(click)="togglePasswordVisibility()"
				></i>
				<input
					[type]="showPassword() ? 'text' : 'password'"
					pInputText
					placeholder="Contraseña"
					formControlName="password"
					autocomplete="current-password"
					[attr.disabled]="isDisabled ? '' : null"
				/>
			</app-login-input>
			<app-form-error [control]="loginForm.controls.password" />

			<app-login-role-selector>
				<i class="pi pi-users"></i>
				<p-select
					[options]="roles"
					formControlName="rol"
					optionLabel="label"
					optionValue="value"
					placeholder="Seleccione rol"
					[disabled]="isDisabled"
					class="w-full"
				/>
			</app-login-role-selector>

			<app-login-options>
				<label class="remember-toggle">
					<span>Recordar sesión</span>
					<p-toggleSwitch formControlName="rememberMe" />
				</label>
				<!-- <a href="#" class="forgot-link" (click)="onForgotPassword($event)">
					¿Ha olvidado la contraseña?
				</a> -->
			</app-login-options>

			<app-login-button [isLoading]="isLoading()" [disabled]="isDisabled" />
		</form>
	</div>
</div>
