// #region Filters Bar
.filters-bar {
	display: flex;
	flex-wrap: wrap;
	gap: 0.75rem;
	margin-bottom: 1.5rem;
	align-items: center;
}
// #endregion

// #region Overrides PrimeNG
:host ::ng-deep {
	.p-inputtext,
	.p-select {
		background: transparent;
		color: var(--text-color);
		border-color: var(--surface-300);

		&::placeholder {
			color: var(--text-color-secondary);
		}

		&:enabled:focus {
			border-color: var(--text-color);
			box-shadow: 0 0 0 1px var(--text-color);
		}
	}

	.p-select-label {
		color: var(--text-color);
	}

	.p-select-dropdown {
		color: var(--text-color);
	}
}
// #endregion
