<!-- #region Template -->
<app-bulk-generate-form
	entityLabel="salones"
	[generating]="generating()"
	[result]="generateResult()"
	(generar)="onGenerar($event)"
/>

<edu-button
	type="button"
	label="Importar archivo"
	icon="pi pi-upload"
	[outlined]="true"
	(click)="onAbrirImportDialog()"
/>

<app-salones-import-dialog
	[visible]="importDialogVisible()"
	[loading]="importing()"
	[result]="importResult()"
	(visibleChange)="onImportDialogVisibleChange($event)"
	(importar)="onImportar($event)"
/>
<!-- #endregion -->
