<footer class="site-footer">
	<div class="container">
		<div class="row">
			<!-- Logo y Contacto -->
			<div class="col-lg-4 col-md-6 col-12 mb-3">
				<div class="d-flex align-items-center mb-4">
					<picture>
						<source srcset="images/logo.avif" type="image/avif" />
						<source srcset="images/logo.webp" type="image/webp" />
						<img
							src="images/logo.png"
							class="img-fluid logo-image"
							alt="Educa.com.pe Logo"
							width="150"
							height="40"
							loading="lazy"
						/>
					</picture>
				</div>

				<p class="mb-2">
					<i class="custom-icon bi-globe me-1"></i>
					<a href="http://www.educa.com.pe" target="_blank" class="site-footer-link">
						www.educa.com.pe
					</a>
				</p>

				<p class="mb-2">
					<i class="custom-icon bi-telephone me-1"></i>
					<a href="tel:+51986176572" class="site-footer-link"> +51 986 176 572 </a>
				</p>

				<p>
					<i class="custom-icon bi-envelope me-1"></i>
					<a
						href="mailto:educa.com175@hotmail.com?subject=Consulta&body=Hola, quisiera saber más sobre los programas educativos."
					>
						educa.com175&#64;hotmail.com
					</a>
				</p>
			</div>

			<!-- Educa.com Links -->
			<div class="col-lg-2 col-md-3 col-6 ms-lg-auto">
				<h6 class="site-footer-title">Educa.com</h6>

				<ul class="footer-menu">
					<li class="footer-menu-item">
						<a routerLink="/nosotros" class="footer-menu-link">Nosotros</a>
					</li>
					<li class="footer-menu-item">
						<a
							href="https://www.facebook.com/educa.com.pe/"
							target="_blank"
							class="footer-menu-link"
							>Facebook</a
						>
					</li>
					<li class="footer-menu-item">
						<a
							href="https://www.instagram.com/educa.com.pe/"
							target="_blank"
							class="footer-menu-link"
							>Instagram</a
						>
					</li>
					<li class="footer-menu-item">
						<a
							href="https://www.tiktok.com/@educa.com"
							target="_blank"
							class="footer-menu-link"
							>Tiktok</a
						>
					</li>
				</ul>
			</div>

			<!-- Recursos -->
			<div class="col-lg-2 col-md-3 col-6">
				<h6 class="site-footer-title">Recursos</h6>

				<ul class="footer-menu">
					<li class="footer-menu-item">
						<a
							href="https://www.tiktok.com/@educa.com"
							target="_blank"
							class="footer-menu-link"
							>Clases</a
						>
					</li>
					<li class="footer-menu-item">
						<a routerLink="/preguntas-frecuentes" class="footer-menu-link"
							>Preguntas frecuentes</a
						>
					</li>
				</ul>
			</div>

			<!-- Newsletter -->
			<div class="col-lg-4 col-md-8 col-12 mt-3 mt-lg-0">
				<h6 class="site-footer-title">Noticias</h6>

				<form class="custom-form newsletter-form" (ngSubmit)="onNewsletterSubmit()">
					<h6 class="site-footer-title">Sigue todas nuestras novedades</h6>

					<div class="input-group">
						<span class="input-group-text" id="basic-addon1">
							<i class="bi-person"></i>
						</span>

						<input
							type="email"
							name="newsletter-email"
							[(ngModel)]="newsletterEmail"
							class="form-control"
							placeholder="tucorreo@gmail.com"
							required
						/>

						<button
							type="submit"
							class="form-control"
							pTooltip="Suscríbete a nuestras novedades"
							tooltipPosition="top"
						>
							<i class="bi-send"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Footer Bottom -->
	<div class="site-footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-12 d-flex align-items-center">
					<p class="copyright-text">
						Copyright &copy; Asociación educativa y cultural Educa.com
					</p>

					<ul class="footer-menu d-flex">
						<li class="footer-menu-item">
							<a routerLink="/privacidad" class="footer-menu-link"
								>Política de privacidad</a
							>
						</li>
						<li class="footer-menu-item">
							<a routerLink="/terminos" class="footer-menu-link"
								>Términos y condiciones</a
							>
						</li>
					</ul>
				</div>

				<div class="col-lg-5 col-12 mt-2 mt-lg-0">
					<ul class="social-icon">
						<li class="social-icon-item">
							<a
								href="https://www.facebook.com/educa.com.pe/"
								target="_blank"
								class="social-icon-link bi-facebook"
								pTooltip="Síguenos en Facebook"
								tooltipPosition="top"
								aria-label="Síguenos en Facebook"
							></a>
						</li>
						<li class="social-icon-item">
							<a
								href="https://www.instagram.com/educa.com.pe/"
								target="_blank"
								class="social-icon-link bi-instagram"
								pTooltip="Síguenos en Instagram"
								tooltipPosition="top"
								aria-label="Síguenos en Instagram"
							></a>
						</li>
						<li class="social-icon-item">
							<a
								href="https://www.youtube.com/channel/UCIhisBQWBIFkU1qOV7FeFHg"
								target="_blank"
								class="social-icon-link bi-youtube"
								pTooltip="Mira nuestros videos en YouTube"
								tooltipPosition="top"
								aria-label="Mira nuestros videos en YouTube"
							></a>
						</li>
						<li class="social-icon-item">
							<a
								href="https://www.tiktok.com/@educa.com"
								target="_blank"
								class="social-icon-link bi-tiktok"
								pTooltip="Síguenos en TikTok"
								tooltipPosition="top"
								aria-label="Síguenos en TikTok"
							></a>
						</li>
					</ul>
				</div>

				<a
					class="back-top-icon bi-arrow-up smoothscroll d-flex justify-content-center align-items-center"
					(click)="scrollToTop()"
					pTooltip="Volver arriba"
					tooltipPosition="left"
					aria-label="Volver arriba"
				></a>
			</div>
		</div>
	</div>
</footer>
