// #region Styles
/*---------------------------------------
  NAVIGATION
-----------------------------------------*/
.navbar {
	background: var(--white-color);
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-brand {
	font-size: var(--h4-font-size);
	font-weight: var(--font-weight-bold);
}

.logo-image {
	display: block;
	width: 300px;
	margin-right: 15px;
}

.navbar-brand,
.navbar-brand:hover {
	color: var(--primary-color);
}

:host ::ng-deep .navbar-expand-lg .navbar-nav .nav-link {
	margin-right: 0;
	margin-left: 0;
	padding: 20px;
}

:host ::ng-deep .navbar-expand-lg .navbar-nav {
	width: 100%;
}

.navbar-nav .nav-link {
	display: inline-block;
	color: var(--p-bg-color);
	font-size: var(--menu-font-size);
	font-weight: var(--font-weight-medium);
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: var(--custom-btn-bg-color);
}

.dropdown-menu {
	background: var(--white-color);
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	border: 0;
	padding: 0;
	margin-top: 20px;
}

.dropdown-item {
	display: inline-block;
	color: var(--p-bg-color);
	font-size: var(--menu-font-size);
	font-weight: var(--font-weight-medium);
	border-bottom: 1px solid var(--border-color);
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown-menu li:last-child .dropdown-item {
	border-bottom: 0;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
	background: transparent;
	color: var(--custom-btn-bg-color);
}

.dropdown-toggle::after {
	content: '\f282';
	display: inline-block;
	font-family: bootstrap-icons !important;
	font-size: var(--copyright-font-size);
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -0.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	left: 2px;
	border: 0;
}

@media screen and (min-width: 992px) {
	.dropdown:hover .dropdown-menu {
		display: block;
		margin-top: 0;
	}
}

.navbar-toggler {
	border: 0;
	padding: 0;
	cursor: pointer;
	margin: 0;
	width: 30px;
	height: 35px;
	outline: none;
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
	background: transparent;
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:after {
	transition:
		top 300ms 50ms ease,
		transform 300ms 350ms ease;
	top: 0;
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:before {
	transform: rotate(45deg);
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:after {
	transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
	background: var(--dark-color);
	transition: background 10ms 300ms ease;
	display: block;
	width: 30px;
	height: 2px;
	position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
	transition:
		top 300ms 350ms ease,
		transform 300ms 50ms ease;
	position: absolute;
	right: 0;
	left: 0;
	background: var(--dark-color);
	width: 30px;
	height: 2px;
	content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
	top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
	top: 8px;
}

@media screen and (max-width: 991px) {
	.navbar-collapse {
		padding-bottom: 20px;
	}

	:host ::ng-deep .navbar-expand-lg .navbar-nav .nav-link {
		padding: 10px;
	}

	:host ::ng-deep .navbar-expand-lg .navbar-nav .nav-link.custom-btn {
		margin-top: 10px;
	}

	/* Mobile dropdown improvements */
	.dropdown-menu {
		box-shadow: none;
		border: 0;
		margin-top: 0;
		padding-left: 15px;
		background: transparent;
	}

	.dropdown-item {
		border-bottom: 0;
		padding: 8px 10px;
	}
}
// #endregion
