<div class="schedule-container">
	<app-schedule-calendar
		(openSchedule)="openScheduleModal()"
		(openSummary)="openSummaryModal()"
	/>

	<app-schedule-modal
		[(visible)]="showScheduleModal"
		(openDetails)="openDetailsModal($event)"
		(openGrades)="openGradesModal($event)"
	/>

	<app-summary-modal
		[(visible)]="showSummaryModal"
		(openDetails)="openDetailsModal($event)"
		(openGrades)="openGradesModal($event)"
	/>

	<app-course-details-modal
		[(visible)]="showDetailsModal"
		[courseName]="selectedCourse"
		(openSchedule)="openScheduleModal()"
		(openSummary)="openSummaryModal()"
		(openGrades)="openGradesModal($event)"
	/>

	<app-grades-modal
		[(visible)]="showGradesModal"
		[courseName]="selectedCourse"
	/>
</div>
