// #region Styles
.error-message {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--tint-danger-bg);
	border: 1px solid var(--tint-danger-border);
	border-radius: 4px;
	padding: 0.75rem 1rem;
	margin: 0 auto 1rem auto;
	width: calc(100% - 5rem);
	color: var(--tint-danger-icon);
	font-size: 0.9rem;

	i {
		font-size: 1rem;
	}
}
// #endregion
